body {
    background-image: url(./img/background_index.jpg);
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 6rem;
    color: aliceblue;
    border-top: 4px solid aliceblue;
    border-bottom: 4px solid aliceblue;
    margin: 50px 0 15px 0;
    padding: 15px 0;
    font-weight: 300;
}

h2 {
    color: aliceblue;
    margin: 0 0 3rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

#loading {
    color: aliceblue;
}

.container-flex1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.form-inline-stock input {
    width: 500px;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.form-inline-stock button {
    background-color: #036079;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
}

.form-inline-stock button:hover {
    background-color: rgba(79, 206, 217, 1);
    color: aliceblue;
}

.list-group-result {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.list-group-result li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px;
    width: 550px;
    padding: 10px;
    border-bottom: 2px solid aliceblue;
}

.list-group-result li:hover {
    background-color: #036079;
    opacity: 0.8;
}

.list-group-result li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 9px;
}

.list-group-result img {
    height: 40px;
    width: 40px;
}

#resultPricesLive {
    display: flex;
    list-style: none;
    position: relative;
    animation: example 20s linear 0s infinite running;
    /* background-color: #036079; */
    background: linear-gradient(90deg, #036079 10%, rgba(79, 206, 217, 1) 100%);
}

#resultPricesLive li {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

#resultPricesLive span {
    margin-left: 5px;
    min-width: 50px;
    text-align: center;
}

@keyframes example {
    0% {
        right: 0;
    }
    50% {
        right: 500px;
    }
    100% {
        right: 1000px;
    }
}

.data-box {
    display: inline-block;
    width: 80px !important;
    text-align: center;
}

.container-flex-results {
    display: flex;
    justify-content: space-between;
}

.highlight {
    background-color: #fff000;
}