.img-company {
    width: 50%;
    margin: 0;
}

.myChart {
    height: 350px;
}

#load {
    display: flex;
    background: rgb(9, 66, 156);
<<<<<<< HEAD
    background: linear-gradient(90deg, #036079 0%, rgba(79, 206, 217, 1) 100%);
=======
    background: linear-gradient(90deg, rgba(9, 66, 156, 1) 0%, rgba(79, 206, 217, 1) 100%);
>>>>>>> main
    justify-content: center;
    height: 700px;
    align-items: center;
}

#loading {
    color: aliceblue;
}

.container-fluid {
    padding: 0;
}

.top-bar {
<<<<<<< HEAD
    background: #036079;
    background: linear-gradient(90deg, #036079 0%, rgba(79, 206, 217, 1) 100%);
=======
    background: rgb(9, 66, 156);
    background: linear-gradient(90deg, rgba(9, 66, 156, 1) 0%, rgba(79, 206, 217, 1) 100%);
>>>>>>> main
    height: 50px;
    display: flex;
    align-items: center;
}

.top-bar a {
    color: aliceblue;
    font-size: large;
}

.search-icon {
    color: aliceblue;
}

.website {
<<<<<<< HEAD
    color: #036079;
=======
    color: rgba(9, 66, 156, 1);
>>>>>>> main
}