body {
    background-image: url(./img/background_index.jpg);
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 6rem;
    color: aliceblue;
    border-top: 4px solid aliceblue;
    border-bottom: 4px solid aliceblue;
}

#loading {
    color: aliceblue;
}

.container-flex1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    margin: 0;
}

.d-none {
    display: none;
}

.form-inline input {
    width: 500px;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.form-inline button {
    background-color: #036079;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
}

.form-inline button:hover {
    background-color: rgba(79, 206, 217, 1);
    color: aliceblue;
}

.list-group {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.list-group li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px;
    width: 550px;
    padding: 10px;
    border-bottom: 2px solid aliceblue;
}

.list-group li:hover {
    background-color: #036079;
    opacity: 0.8;
}

.list-group li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 9px;
}

.list-group img {
    height: 40px;
    width: 40px;
}